body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #faf6f694;
    font-family: Assistant;
}

button {
    margin: 3px;
    padding: 10px;
    border: none;
    border-radius: 20%;
}

button:hover {
    cursor: pointer;
    color: white;
}

.read {
    background-color: #c9bf98;
}

.update {
    background-color: #a17b47fd;
}

.delete {
    background-color: #a23e3e;
}

.add-btn {
    background-color: rgb(229, 215, 190);
}

form input {
    margin: 10px;
    width: 300px;
    height: 30px;
    text-align: center;
}

pre img {
    height: 200px;
}

.new-book {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: end;
    gap: 20px;

    padding: 10px;
    background-color: rgb(233, 223, 206);
    width: 100%;
    margin-top: 50px;
    margin-bottom: 0px;
    align-items: center;
    justify-content: center;
}

p {
    position: fixed;
    left: 10vh;
    top: 2vh;
    padding: 10px;
    font-size: 1em;
}

.green-msg {
    color: green;
    background-color: #bebebe;
}

.red-msg {
    color: rgb(144, 10, 10);
    background-color: #bebebe8e;
}

h1 {
    padding: 30px;
    background-color: rgb(233, 223, 206);
    width: 100%;
    text-align: center;
    color: white;
    font-size: 60px;
}

fieldset span, fieldset button {
    margin: 1em;
}

.edit-book{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.edit-book input {
    display: flex;
    width: 20vh;
}

.hidden {
    display: none;
}


table {
    margin-top: 30px;
    margin-bottom: 30px;
    border-collapse: collapse;
    width: 50%;
    text-align: center;
}

thead {
    background-color: rgba(233, 223, 206, 0.371); 
}

th, td {
    border: 1px solid black;
    padding: 10px;
    min-width: 170px;
}

tr:nth-of-type(even) {
    background-color: rgba(233, 223, 206, 0.201);
}

th:nth-of-type(5), td:nth-of-type(5) {
    min-width: 200px;
}