body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #faf6f694;
    font-family: Assistant;
}

.book-list {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    margin: 10px 0px;
}

tr:nth-child(odd) {
    background-color: #b9b9b952;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
    max-width: max-content;
    min-width: 70px;
}

th:nth-of-type(4) {
    min-width: 200px;
}

button {
    margin: 3px;
    padding: 10px;
    border: none;
    border-radius: 20%;
}

button:hover {
    cursor: pointer;
    color: white;
}

.read {
    background-color: #c9bf98;
}

.update {
    background-color: #a17b47fd;
}

.delete {
    background-color: #a23e3e;
}

.add-btn {
    background-color: rgb(229, 215, 190);
}

form input {
    margin: 10px;
    width: 300px;
    height: 30px;
    text-align: center;
}

pre img {
    height: 200px;
}

table {
    table-layout: fixed;
    width: 450px;
    text-align: center;
}

.new-book {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: end;
    gap: 20px;

    padding: 10px;
    background-color: rgb(233, 223, 206);
    width: 100%;
    margin-top: 50px;
    margin-bottom: 0px;
    align-items: center;
    justify-content: center;
}

p {
    position: fixed;
    left: 10vh;
    top: 2vh;
    padding: 10px;
    font-size: 1em;
}

.green-msg {
    color: green;
    background-color: #bebebe;
}

.red-msg {
    color: rgb(144, 10, 10);
    background-color: #bebebe8e;
}

h1 {
    padding: 30px;
    background-color: rgb(233, 223, 206);
    width: 100%;
    text-align: center;
}